__pycache__/
.pytest_cache/
src/checkpoints/
src/checkpoints_test/
src/results/
src/mnist_checkpoints/
src/mnist_results/
src/cifar10_checkpoints/
src/cifar10_results/
src/covertype_checkpoints/
src/covertype_results/
src/covertype_data/
src/data/